root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
end_of_line = crlf
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

[*.{csproj,resx,xml}]
indent_size = 2
end_of_line = crlf

[*.sln]
end_of_line = crlf

[*.json]
indent_size = 2
end_of_line = lf

[*.{md,yml,yaml}]
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = false

[*.{ps1,psm1,psd1}]
indent_size = 4
end_of_line = crlf
