<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="TubeVault"
    Manufacturer="joseamc91"
    Version="$(var.MsiVersion)"
    UpgradeCode="{0ABACBF1-60F9-41F7-8008-28E5C82D5886}"
    Scope="perUserOrMachine"
    InstallerVersion="500"
    Compressed="yes">

    <SummaryInformation Description="TubeVault $(var.FullVersion)" Manufacturer="joseamc91" />

    <MajorUpgrade
      AllowDowngrades="no"
      AllowSameVersionUpgrades="no"
      DowngradeErrorMessage="Ya hay instalada una versión más reciente de TubeVault."
      Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPURLINFOABOUT" Value="https://github.com/joseamc91/TubeVault" />
    <Property Id="ARPHELPLINK" Value="https://github.com/joseamc91/TubeVault/issues" />

    <Launch
      Condition="Installed OR NOT ALLUSERS OR (ALLUSERS = 2 AND MSIINSTALLPERUSER = 1)"
      Message="TubeVault solo puede instalarse para el usuario actual." />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="PerUserProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="TubeVault">
          <Component Id="TubeVaultExecutable">
            <File
              Id="TubeVaultExe"
              Source="$(var.PayloadDir)\TubeVault.exe"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Files Directory="INSTALLFOLDER" Include="$(var.PayloadDir)\**">
      <Exclude Files="$(var.PayloadDir)\TubeVault.exe" />
    </Files>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component
        Id="TubeVaultStartMenuShortcut"
        Guid="{9BA4B985-0B13-4672-B9B1-544E92B9F4ED}">
        <Shortcut
          Id="TubeVaultStartMenuShortcutEntry"
          Name="TubeVault"
          Description="TubeVault"
          Target="[INSTALLFOLDER]TubeVault.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\TubeVault"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>

  </Package>
</Wix>
